@media only screen and (max-width: 576px) {
  .container-column {
    display: flex;
    flex-direction: column;
    border: 12px solid #f1f1f1;
  }

  .container-routes {
    display: flex;
    justify-content: flex-start;
  }
}

@media only screen and (min-width: 576px) {
  .container-column {
    display: flex;
    justify-content: flex-start;
    border: 12px solid #f1f1f1;
  }

  .container-routes {
    display: flex;
    justify-content: flex-start;
  }
}
